.quiz {
  background-color: #111;
  border: 2px solid var(--border-color);
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  max-width: 700px;
  box-sizing: content-box;
  box-shadow: 0 0 4px 1px black;
}
