@model Question

<input type="hidden" id="question-url" value="@Url.Action("Question")" />

<div class="quiz-container">
    <div id="stage" class="box">
        
    </div>

    <div id="correct-display" class="correct">
        Correct!
        <p class="countdown">New Question in 2...</p>
    </div>
</div>

