* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

.quiz-container {
    background: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-color: #333;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #443a2d;
    border: 1px solid #eee;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 80%;
    max-width: 690px;
    box-sizing: content-box;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 black;
}

.target-item-container,
.selected-items,
.option-items {
    padding: 2rem;
    text-align: center;
}

.selected-item,
.target-item,
.option {
    width: 66px;
    height: 46px;
    background-color: #222;
    border: 2px solid #888;
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    box-shadow: 1px 1px 4px 0 black;
    cursor: pointer;
    box-sizing: content-box;
}

.option {
    margin-bottom: .5rem;
}

    .selected-item::after,
    .target-item::after {
        content: '?';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: xx-large;
        color: white;
        z-index: 1;
    }

    .selected-item > img,
    .target-item > img,
    .option > img {
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
    }

    .option.selected::after {
        display: none;
    }

    .option-img.selected {
        opacity: 0.5;
        cursor: default;
    }

.correct {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: purple;
    border: 2px solid gray;
    padding: 2rem;
    z-index: 11;
}

.correct.show {
    display: block;
}

#incorrect-display {
    color: red;
    display: none;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    margin: .5rem 0 0 0;
}

#incorrect-display.show {
    display: block;
}
