:root {
    --stage-color: #443a2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

.quiz-container {
    background: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-color: #333;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

#stage {
    background-color: var(--stage-color);
    border: 1px solid #eee;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 80%;
    max-width: 690px;
    box-sizing: content-box;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 black;
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--stage-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading.hide {
    display: none;
}

.target-item-container,
.selected-items,
.option-items,
.messages {
    margin: 1rem 2rem;
    text-align: center;
    user-select: none;
}

.selected-item,
.target-item,
.option,
.answer-component {
    width: 66px;
    height: 46px;
    background-color: #222;
    border: 2px solid #888;
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    box-shadow: 1px 1px 4px 0 black;
    box-sizing: content-box;
}

.option {
    margin-bottom: .5rem;
}

    .selected-item::after,
    .target-item::after {
        content: '?';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: xx-large;
        color: white;
        z-index: 1;
    }

    .selected-item > img,
    .target-item > img,
    .option > img,
    .answer-component > img {
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        cursor: pointer;
    }

    .option.selected::after {
        display: none;
    }

    .option-img.selected {
        opacity: 0.5;
        cursor: default;
    }

#answer-container.show {
    display: block;
}

.messages {
    margin-bottom: 2em;
    font-size: x-large;
    text-align: center;
}

#streak-message {
    color: #eee;
    display: none;
}

#incorrect-display {
    display: none;
}

.incorrect-message {
    color: red;
    text-transform: capitalize;
}

#incorrect-display.show,
#streak-message.show {
    display: block;
}

#answer-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    display: none;
}

.answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #333;
    border: 2px solid #aaa;
    box-shadow: 0 0 3px 3px black;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.answer-components {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer-plus,
.answer-equals
{
    font-size: x-large;
    color: #eee;
    font-weight: bold;
    text-align: center;
}

#next-question,
#incorrect-answer-link {
    display: inline-block;
    color: #aaa;
    cursor: pointer;
    margin-top: .5rem;
    font-size: medium;
}

/* Loading Icon from https://loading.io/css/ */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  