@model Question

<input type="hidden" id="question-url" value="@Url.Action("Question")" />
<input type="hidden" id="answer-url" value="@Url.Action("Answer")" />

<div class="quiz-container">
    <div id="stage" class="box">
    </div>

    <div id="answer-container">
    </div>
</div>

